[submodule "ref/repos/DART"]
	path = ref/repos/DART
	url = https://github.com/zkf1997/DART
[submodule "ref/repos/MotionStreamer"]
	path = ref/repos/MotionStreamer
	url = https://github.com/zju3dv/MotionStreamer
[submodule "ref/repos/track-mjx"]
	path = ref/repos/track-mjx
	url = https://github.com/talmolab/track-mjx
[submodule "ref/repos/stac-mjx"]
	path = ref/repos/stac-mjx
	url = https://github.com/talmolab/stac-mjx
[submodule "ref/repos/BrainPy"]
	path = ref/repos/BrainPy
	url = https://github.com/brainpy/BrainPy
[submodule "ref/repos/LAPO"]
	path = ref/repos/LAPO
	url = https://github.com/schmidtdominik/LAPO.git
[submodule "ref/repos/HILP"]
	path = ref/repos/HILP
	url = https://github.com/seohongpark/HILP.git
[submodule "ref/repos/mtm"]
	path = ref/repos/mtm
	url = https://github.com/facebookresearch/mtm.git
[submodule "ref/repos/tdmpc2"]
	path = ref/repos/tdmpc2
	url = https://github.com/nicklashansen/tdmpc2.git
